*
{
    box-sizing: border-box;
}
body
{
    font-family: 'poppins';
}
.container
{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}
.landing_page
{
    position: relative;
    background: rgb(255, 255, 255);
    width: 100%;
}
.landing_page .header{
    display: flex;
    padding: 25px 0 0;
    position: relative;
}
.landing_page .header .logo{
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 20px;
    width: 300px;
    color: rgb(199, 34, 34);
    font-size: 4 0px;
}
.landing_page .header .links{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;

}
.landing_page .header .links li{
    display: inline-block;
    margin-left: 30px;
    color: rgb(2, 241, 58);
    cursor: pointer;
}
.landing_page .header .links li:hover{
    font-size: 20px;
}
.landing_page .header .links li:last-child{
    border: 0;
    border-radius: 20px;
    padding: 10px 18px;
    color: rgb(205, 23, 163);
    background-color: orange;
}
.landing_page .info{
    width: 35%;
    float: left;
    margin-top: 130px;
}
.landing_page .info h1{
    font-size: 45px;
    margin: 0 0 20px;
    line-height: 1.4;
    color:rgb(17, 187, 225);
}
.landing_page .info p{
    margin: 0 ;
    line-height: 1.5;
    color:balck;
}
.landing_page .info button{
    border: 0;
    border-radius: 2opx;
    padding: 12px 30px;
    cursor: pointer;
    color:black;
    background-color: rgb(90, 197, 74);
    font-weight:bold;
}
.landing_page .image{
    width: 50%;
    float: right;
    margin-top: 35px;
    height: 70%;
}
.landing_page .image img{
    max-width: 100%;

}
.clearfix{
    clear: both;

}




